
body{
    background-color: rgb(12, 12, 12);
}

.box {
    background-color: rgb(176, 176, 176);
    width: 14rem;
    height: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 0.2rem;
}

.num {
    width: 96%;
    padding: 0.2rem;
}

.bt, .op {
    margin: 1rem;
    width: 30%;
    border-radius: 0.2rem;
    text-align: center;
}

h4 {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(255, 255, 255);
}

h2 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(255, 255, 255);
}
